<div class="tarjeta">
  <div class="contenido">
    <div class="ladoIzq">
      <h2 class="titulo">Titulo</h2>
      <div class="cuerpo">
        <p>Descripción</p>
        <a class="btn" href="#">Eliminar</a>
      </div>
    </div>
    <div class="ladoDer">
      <img src="#" />
    </div>
  </div>
</div>

<div class="tarjeta">
  <div class="contenido">
    <div class="ladoIzq">
      <h2 class="titulo">Titulo</h2>
      <div class="cuerpo">
        <p>Descripción</p>
        <a class="btn" href="#">Eliminar</a>
      </div>
    </div>
    <div class="ladoDer">
      <img src="#" />
    </div>
  </div>
</div>
