
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start-2p-regular{
  padding-left: 15px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #eae7e7;
}

h3 a{
  color: #1b0b0b;
}

input{
  border: none;
  background-color: #dadada;
  border-radius: 15px;
  padding-left: 15px ;
  margin-right: 15px;
}

a{
  color: #FFFFFF;
  text-decoration: none;
}

.gallery-button{
  padding: 5px 20px 5px 20px;
}

.gallery-button a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #0c1455;
}

.gallery-button svg{
  padding-right:7px ;
  padding-bottom: 3px;
}

form{
  display: flex;
}

button{
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 10px ;
  border-radius: 30px ;
  border: 0px solid;
  margin-right: 5px;
}

.button-login{
  background: linear-gradient( 90deg , #176fed, #04dc8e);
}

.button-login:hover{
  background: linear-gradient( 90deg , #3080f1, #2defa9);
}

.button-draw{
  background: linear-gradient( 90deg , #FF5733, #e87676);
}

.button-draw:hover{
  background: linear-gradient( 90deg , #f86444, #e88f8f);
}


.display-a{
  display: flex;
  align-items: center;
}

.display-a svg{
  padding-right: 5px;
}

ul{
  margin-right: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li{
  margin-right: 10px;
}



