<div class="home">
  <h2>
    CREA Y DESCUBRE EL PODER DE TU IMAGINACION
  </h2>

  <h4>SOCIALIZA, COMPARTE Y CREA </h4>

  <ul>
    <li>
      <button class="button-draw"><a class="display-a" [routerLink]="['/draw']">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
             style="fill: rgba(255, 255, 255, 1);">
          <path
            d="M4 21a1 1 0 0 0 .24 0l4-1a1 1 0 0 0 .47-.26L21 7.41a2 2 0 0 0 0-2.82L19.42 3a2 2 0 0 0-2.83 0L4.3 15.29a1.06 1.06 0 0 0-.27.47l-1 4A1 1 0 0 0 3.76 21 1 1 0 0 0 4 21zM18 4.41 19.59 6 18 7.59 16.42 6zM5.91 16.51 15 7.41 16.59 9l-9.1 9.1-2.11.52z">
          </path>
        </svg>


        <span> Empieza a dibujar </span> </a>
      </button>
    </li>

    <ng-container *ngIf="!isToken">
      <li>
        <button class="button-login"><a class="display-a" [routerLink]="['/register']">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
              style="fill: rgba(255, 255, 255, 1);">
            <path
              d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z">
            </path>
          </svg>
          <span>Registrarse</span>
        </a>
        </button>
      </li>
    </ng-container>
  </ul>
</div>

<div class="container-categories">

  <ul class="categories-list">
    <li class="category-item">🤩 Mira los dibujos de otros usuarios 🤩</li>
  </ul>

</div>

<div class="card-container">

  <div class="card" *ngFor="let data of this.pixelArtService.listOfPixelArt">
    <article class="card-article">
      <h2><img src="data:image/png;base64,{{data.image}}" /></h2>
    </article>
  </div>
</div>

