
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start-2p-regular{
  padding-left: 15px;
  font-family: "Press Start 2P", system-ui;
  font-weight:200;
  font-style: normal;
}


