<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>PixelArt - Login</title>
</head>
<body>
<div class="container-form register">
  <div class="information">
    <div class="info-childs">
      <h2>Bienvenido</h2>
      <p>Inicia Sesión si ya tienes una cuenta</p>
      <input type="button" value="Iniciar Sesión" id="sign-in" (click)="directLogin()">
    </div>
  </div>
  <div class="form-information">
    <div class="form-information-childs">
      <h2>Crear una Cuenta</h2>
      <div class="icons">
        <i class='bx bxl-google'></i>
        <i class='bx bxl-github'></i>
        <i class='bx bxl-linkedin'></i>
      </div>
      <p>Por favor ingresa los siguientes datos</p>
      <form [formGroup]="registerForm" class="form form-register" (ngSubmit)="onSubmit()" novalidate>
        <div>
          <label>
            <i class='bx bx-user'></i>
            <input type="text" placeholder="Nombre Usuario" formControlName="username">
          </label>
        </div>
        <div>
          <label>
            <i class='bx bx-envelope'></i>
            <input type="email" placeholder="Correo Electronico" formControlName="email">
          </label>
        </div>
        <div>
          <label>
            <i class='bx bx-lock-alt'></i>
            <input type="password" placeholder="Contraseña" formControlName="password">
          </label>
        </div>

        <input type="submit" value="Registrarse" [disabled]="registerForm.invalid">

        <div *ngIf="registerForm.invalid && registerForm.touched" class="alerta-error">Todos los campos son obligatorios</div>
        <div *ngIf="registrationSuccess" class="alerta-exito">Te registraste correctamente</div>
      </form>

    </div>
  </div>
</div>
</body>
</html>
